$primary: #4c5270;
$primry-light: #666e96;
$primary-dark: #1029aa;

$secondary: #f652a0;
$secondary-light: #f574b2;
$secondary-dark: #f3117e;

$cyan: #36eee0;
$cyan-light: #90f7ee;
$cyan-dark: #05dac8;

$white: #fff;
$gray: #ccc;
